/**
 * loding样式
 */
.el-loading {
    position: absolute;
    z-index: 2000;
    background-color: rgba(255, 255, 255, .7);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.el-loading-spinner {
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    position: absolute;
}

/**
 * 列表页通用样式
 */
.fillContainer {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.btnRight {
    float: right;
}

.dialogCustomWidth {
    min-width: 400px;
}

/**
 * 头像上传
 */
.avatar-uploader {
    height: 5rem;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.form-avatar {
    width: 5rem;
    height: 5rem;
    display: block;
}